[Unit]
Description=Fluent Bit
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart={{ exec_file }} -c {{ conf_file }}
SyslogIdentifier={{ service_name }}

# Service vars.
{%- for key, val in vars.items() %}
{{ key }}={{ val }}
{%- endfor %}

[Install]
WantedBy=multi-user.target
